body {
    background-color: #E0E0E0;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.container {
    background-color: #BDBDBD;
    margin: auto;
    width: 60%;
    border:3px solid #212121; /*#8AC007; */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-family: arial;
    margin-bottom: 10px;
}

.btn {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: normal normal bold 16px/normal Arial, Helvetica, sans-serif;
  color: #666666;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f6f6f6;
}

.btn:hover {
	background-color: #ededed;
}

.btn:active {
	position: relative;
	top: 1px;
}

.input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(102,102,102,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgb(255,255,255);
}

p {
    height: auto;
    width: auto;
    font: normal 16px/normal Arial, Helvetica, sans-serif;
}

.clockParagraph {
    font-size: 1.5em;
}